.login-background {
	height: 100%;
	width: 100%;
	background-color: grey;
}

.login-title {
	font: 28px sans-serif;
	color: white;
}

.login-mode-switch {
	color: #649ef5;
	text-decoration: underline;
	cursor: pointer;
}

.login-background > form {
	background-color: #414141;

}
